<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/60bf8c1bee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Amazona</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">amazona</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- Image size 680 by 830 px -->
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size 680 by 830 px -->
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size 680 by 830 px -->
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size 680 by 830 px -->
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size 680 by 830 px -->
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- Image size 680 by 830 px -->
                        <img class="medium" src="./images/p1.jpg" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike Slim Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star"></i>
                            </span>
                            <span>
                                <i class="fas fa-star-half-alt"></i>
                            </span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">2020 Copyright Waway LTD</footer>
    </div>
</body>

</html>